
[Unit]
Description=Run calendar-update.service every 10 minutes
After=graphical.target

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
