[Unit]
Description=RClone OneDrive (ltu) mount with watchdog
Wants=network-online.target
After=network-online.target dbus.service systemd-user-sessions.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=300
ExecStartPre=/bin/sleep 10
ExecStart=%h/.scripts/rclone-watchdog.sh
ExecStop=/bin/fusermount -uz /mnt/onedrive
KillMode=control-group
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
