[Unit]
Description=RClone OneDrive (ltu) mount
Wants=network-online.target
After=network-online.target dbus.service systemd-user-sessions.service

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=300
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount ltu: /mnt/onedrive \
    --header "Prefer: Include-Feature=AddToOneDrive" \
    --allow-other \
    --vfs-cache-mode full \
    --vfs-cache-max-size 20G \
    --vfs-cache-poll-interval 5s \
    --vfs-write-back 5s \
    --buffer-size 256M \
    --dir-cache-time 30s \
    --attr-timeout 5s \
    --fast-list \
    --async-read=true \
    --cache-dir /tmp/rclonecache \
    --config %h/.config/rclone/rclone.conf \
    --log-file /tmp/rclone.log \
    --log-level ERROR
ExecStop=/bin/fusermount -uz /mnt/onedrive
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
